@import "variables";

// Width
.mw_4k {
  max-width: $size4k;
}

.mv_laptop_l {
  max-width: $laptopL;
}

// Margin
.mc {
  margin-left: auto;
  margin-right: auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

// Text
.tc {
  text-align: center;
}
