@import "../variables";

.component_step {
  display: flex;
}

.cs_aside {
  width: 200px;
  margin-right: 20px;
}

.cs_wrap {
  flex: 1;
  min-height: 500px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
}

.cs_button {
  margin-top: 20px;
}

.cs_back_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: $primary;
}

/*
 * Content
 */
.cs_wrap {
  .title {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
  * + .title {
    margin-top: 50px;
  }
}
