.block_templates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  &.has_active {
    .ant-card {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
      &.active {
        opacity: 1;
      }
    }
  }
  .ant-card {
    overflow: hidden;
  }
  .ant-card-extra {
    margin-left: 10px;
  }
  .ant-card-cover {
    &, > img {
      height: 100%;
    }
  }
}
